@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap');

      .font{
        font-family: 'Google Sans', serif;
        color: #000000;
        font-size: 38px;
        font-weight:900;
      }

      .navbar{
        padding-left: 70px;
        padding-top: 35px;
        padding-right: 70px;
        background-color: rgb(255, 244, 231) !important;
      }

      .navbar-brand{
        transition: transform 0.2s ease-in-out ;
      }
      .navbar-brand:hover {
        transform: skewY(-5deg) ;
        box-shadow: inset 0 0 0 100px rgb(0, 0, 0);
        color: #ffffff !important;
      }

      .navbar a:hover .fab, .navbar a:hover .fa {
        transition: 0.5s ease-in-out;
        transform: scale(1.4); 
      }

      .navbar a{
        text-decoration: none;
        color: #000000;
      }
      
      .footer {
        font-family: "Google Sans", serif;
        font-size: 15px;
        color: rgb(115, 130, 135);
        position: fixed;
        bottom: 0;
        right: 0;
        padding-right: 50px;
        padding-bottom: 15px;
      }

      .center{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
      }   

      .caret h1 {
        font-family: "Google Sans", serif;
        width: 9ch;
        border-right: 4px solid black;
        margin: 2rem auto;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 2s steps(13, end), blink-caret 0.5s step-end infinite alternate;
        text-align: center;
        display: inline-block; 
      }

      @keyframes typing {
          from {
              width: 0;
          }
      }
      @keyframes blink-caret {
          50% {
              border-color:transparent;
          }
      }

      p {
        font-family: "Google Sans", serif;
        font-size: 18px;
        color: rgb(0, 0, 0);
        padding-left: 100px;
        padding-right: 600px;
      }

      .h3 {
        font-family: "Google Sans", serif;
        font-size: 35px;
        color: rgb(0, 0, 0);
        padding-left: 100px;

      }

      h3 {
        font-family: "Google Sans", serif;
        color: rgb(0, 0, 0);
        padding-left: 100px;
      }

      ul {
        padding-left: 150px;
        font-family: "Google Sans", serif;
      }

      .btn{
        font-family: "Google Sans";
        transition: 0.4s;
        border: 2px solid black;
        margin-left: 120px;
        background-color: transparent;
      }

      .btn:hover {
        background-color: #000000;
        color: white;
      }